html{
    background-image: url("Cherry_Blossom_45_B.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}
.heading{
    font-size: 50px;
    display: inline-block;
    font-size: 6rem;
    color: rgb(146, 50, 146);
    background:linear-gradient(to right , rgb(255, 147, 165),rgb(252, 201, 209));
    border-radius:50px;
    padding: 5px;
}
.board{
    margin-top: 20px;
    color: rgb(0, 255, 255);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    row-gap: 0;
    border: 10px solid rgb(79, 119, 252);
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    border-radius: 10px;
    background:linear-gradient(to bottom,rgb(99, 99, 255),rgb(166, 166, 255));
    position:relative;
    top:15rem;
    margin:0 auto;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

button{
    background:linear-gradient(to right,rgb(107, 107, 247),rgb(109, 255, 255));
    outline: none;
    border-radius: 3rem ;
    margin:10px auto;
    font-size: 3rem;
    width: 22rem;
    color: rgb(43, 142, 255);
    border: 3px solid rgb(105, 105, 255);
    display: block;
    position: relative;
    
    
    
}

.downsize{
   font-size: 2rem; 
}

.link{
    position: relative;
    top:25rem;
}
.WordHuman{
    position: relative;
    top:20rem;
    left:20rem;
    font-size: 3rem;
    font-style: italic;
    word-spacing: 10px;
    
    
}



.mg{
    margin:24px 0 0 0;
}
.right{
    margin-left: 60px;
}
.right_abit{
    margin-left: 30px;
}
.right_more{
    margin-left: 190px;;
}
.name{
    margin:0 0 0 50rem;
}

/* @media(min-width:1000px){
    .board{
        grid-template-areas: 
        'one' ' two' 'three' 'four'
        
        ;
    }
} */